@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff2') format('woff2'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/Vazir-Bold.woff') format('woff'),
         url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Black.woff2') format('woff2'),
         url('../fonts/Vazir-Black.woff') format('woff'),
         url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Medium.woff2') format('woff2'),
         url('../fonts/Vazir-Medium.woff') format('woff'),
         url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Light.woff2') format('woff2'),
         url('../fonts/Vazir-Light.woff') format('woff'),
         url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Thin.woff2') format('woff2'),
         url('../fonts/Vazir-Thin.woff') format('woff'),
         url('../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

* {
    letter-spacing: 0 !important;
}

body {
	direction: rtl;
	font-family: Vazir !important;
}

.sidebar .nav-item .nav-link {
	text-align: right !important;
}

.sidebar {
	padding: 0 !important;
}

.sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
	float: left !important;
}

.sidebar .sidebar-heading {
	text-align: right;
}

.toggled .nav-item .nav-link {
	text-align: center !important;
}

.sidebar #sidebarToggle::after {
	content: '\f105' !important;
}

.toggled #sidebarToggle::after{
	content: '\f104' !important;
}

.sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
	content: '\f104' !important;
}

.sidebar .nav-item .nav-link i {
	margin-right: 0 !important;
	margin-left: .25rem;
}

.collapse-inner {
	text-align: right !important;
}

.topbar .dropdown .dropdown-menu {
	text-align: right;
}

.topbar .dropdown .dropdown-menu {
	left: 0 !important;
	right: auto !important;
}

.border-left-success {
	border-left: none !important;
	border-right: .25rem solid #1cc88a !important;
}

.border-left-primary {
	border-left: none !important;
	border-right: .25rem solid #4e73df !important;
}

.border-left-info {
	border-left: none !important;
	border-right: .25rem solid #36b9cc !important;
}

.border-left-warning {
	border-left: none !important;
	border-right: .25rem solid #f6c23e !important;
}

.card-body {
	text-align: right;
}

.card-header {
	text-align: right !important;
}

.float-right {
	float: left !important;
}

.card .card-header .dropdown .dropdown-menu {
	text-align: right;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
	border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
	border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
	border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
	border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.btn {
	padding: 0.3rem .75rem !important;
}


